main {
    display: flex;
    font-family: 'Poppins', sans-serif;
    background-color: var(--white-background);
}
.home-page {
    background-image: url(../assets/vetor-bottom-right.svg);
    background-repeat: no-repeat;
    background-position: right bottom;  
}
.cadastro-page {
    background-image: url(../assets/vetor-bottom-right.svg);
    background-repeat: no-repeat;
    background-position: right bottom; 
}
.consulta-page {
    background-image: url(../assets/vetor-bottom-right.svg);
    background-repeat: no-repeat;
    background-position: right bottom;  
}

.cadastro-usuario-page {
    background-image: url(../assets/vetor-bottom-right.svg);
    background-repeat: no-repeat;
    background-position: right bottom;  
}