main {
    display: flex;
    font-family: 'Poppins', sans-serif;
    background-color: var(--white-background);
}

.signinPage {
    background-color: var(--cor01);
    background-image: url(../assets/Vector_10.svg), url(../assets/Vector_9.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right top;
}

.pages {
    background-image: url(../assets/vetor-bottom-right.svg);
    background-repeat: no-repeat;
    background-position: right bottom;  
}
