@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

:root {
    --primary-color: #303646;
    --gray-navmenu: #A4B0C3;
    --white-background: #DCE1EB;
    --font-family: 'Poppins', sans-serif;
}